$primaryColor: #c41f1f;
$secondaryColor: #ffffff;
$fontColorNav: #D42020;
$fontColor: #575757;
$complementaryColor: #34df92;
$analogousColor1: #d75a1e;
$analogousColor2: #df9234;
$triadicColor1:#1e5ad7;
$triadicColor2:#9234df;
$shadesandTints1:#8e150f;
$shadesandTints2:#e8463f;


$mainFont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$coolFont: 'Kelly Slab';

